body {
    margin: 0;
}

.fejlec {
    background-image: url(./képek/hatterkep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-indent: 40px;
    padding-top: 15px;
    height: 500px;
    margin: 0;
}

.fejlec a:hover {
    background-color: rgb(238, 238, 49, 50%);
}

.fejlec a {
    text-decoration: none;
    color: rgb(161, 161, 161);
}

h1 {
    color: white;
}

#szurke {
    color: rgb(161, 161, 161);
}

li a {
    display: block;
    text-decoration: none;
    color: rgb(158, 154, 154);
}

ul {
    list-style: none;
    padding-right: 30px;
}

.fokeret {
    width: 60%;
    margin: 0 auto;
}

.fekete {
    background-color: rgb(27, 27, 27);
}

h4 {
    color: rgb(95, 93, 93);
}

h2 {
    color: white;
    text-align: center;
}

#baltet {
    width: 20%;
}

#jobbtet {
    width: 50%;
}

.szurke {
    background-color: rgb(49, 48, 48);
}

h2 {
    margin: 0 auto;
    padding-top: 60px;
}

.szoveg1 {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 90px;
}

.szoveg2 {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.szoveg3 {
    margin: 0 auto;
    height: 950px;
    width: 75%;
}

.szoveg4 {
    margin: 0 auto;
    height: 100%;
    width: 60%;
    padding-bottom: 40px;
    padding-top: 50px;
}

.szoveg4 a:hover {
    background-color: rgb(238, 238, 49, 50%);
}

h3 {
    color: rgb(95, 93, 93);
    text-align: center;
}

h5 {
    color: white;
    font-size: 1.2em;
    margin: 0;
}

.button {
    border: 2px solid gray;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 30px 0px 10px;
    cursor: pointer;
    background-color: rgb(27, 27, 27);
    color: white;
}

button:hover {
    background-color: rgb(238, 238, 49, 50%);
}

.button2 {
    text-align: center;
}

#alslink {
    color: rgb(158, 154, 154);
}

footer {
    color: rgb(158, 154, 154);
    text-align: center;
}

#valaszto {
    padding-top: 75px;
    padding-bottom: 25px;
}

.grid-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 100px 100px 50px 50px 100px 100px 100px 100px 50px;
    grid-template-rows: 100px 100px 100px 20px 100px 100px 100px 100px 100px;
    margin: 0 auto;
}

.grid-item a:hover {
    background-color: rgb(238, 238, 49, 50%);
    cursor: pointer;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url(./képek/hatterkep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  
.item2 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url(./képek/vorosboros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 130px;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url(./képek/vegyes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url(./képek/pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  
.item5 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
    background-image: url(./képek/eloetel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}
  
.kepcim1 {
    top: 50%; 
    left: 50%; 
    transform: translate(0, 1650%); 
    color: #fff; 
    font-size: 20px; 
    text-align: center; 
    font-style: italic;
}

.kepcim2 {
    top: 50%; 
    left: 50%; 
    transform: translate(0, 2200%); 
    color: #fff; 
    font-size: 20px; 
    text-align: center; 
    font-style: italic;
}

.kepcim3 {
    top: 50%; 
    left: 50%; 
    transform: translate(0, 850%); 
    color: #fff; 
    font-size: 20px; 
    text-align: center; 
    font-style: italic;
}

.kepcim4 {
    top: 50%; 
    left: 50%; 
    transform: translate(0, 850%); 
    color: #fff; 
    font-size: 20px; 
    text-align: center; 
    font-style: italic;
}

.kepcim5 {
    top: 50%; 
    left: 50%; 
    transform: translate(0, 550%); 
    color: #fff; 
    font-size: 20px; 
    text-align: center; 
    font-style: italic;
}

.haromoszlop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.haromoszlop-item {
    flex: calc(33.333%);
}

.ketoszlop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
}

.ketoszlop-item2 {
    flex: calc(65%);
}

.ketoszlop-item1 {
    flex: calc(35%);
}

.ketoszlop-item1 h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ketoszlop-item1 h4 {
    margin-top: 0;
}

.ketoszlop2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px;
}

.ketoszlop2-item1 {
    flex: calc(25%);
    margin: 0;
}

.ketoszlop2-item2 {
    flex: calc(75%);
    text-align: right;
    margin-top: 10px;
    margin-right: 50px;
}
